  <!--form_with model: @article do |f|-->

        <h5>アップロード済みの画像</h5>
        <% if article.article_images.present? %>
          <% article.article_images.each do |img| %>
            <%= attachment_image_tag img, :image, class:"img-thumbnail", width:"300" %>
            <%= link_to "画像を削除", article_article_image_path(article_id: img.article_id, id: img.id), method: :delete, remote: true, class:"btn btn-danger", data: { confirm: '削除しますか？' }  %>
          <% end %>
        <% end %>

